COMPOSE_PROJECT_NAME=sprouts

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=sprouts

DATABASE_PORT=5432
BACKEND_PORT=3000
BACKEND_CONTAINER_PORT=3000
FRONTEND_PORT=8080

APP_ENV=development
RUST_LOG=info

DATABASE_CPU_LIMIT=1.00
DATABASE_MEMORY_LIMIT=512M
BACKEND_CPU_LIMIT=1.50
BACKEND_MEMORY_LIMIT=1G
FRONTEND_CPU_LIMIT=1.00
FRONTEND_MEMORY_LIMIT=512M
